body{
    font-family: Arial, sans-serif;  /* Sets the font for the page */
    margin: 0;  /* Removes default margin */
    padding: 0;  /* Removes default padding */
    background-color: #f4f4f4;  /* Sets a light background color */
    text-align: center; /* Centers content */
}