body{
    font-family: Arial, sans-serif;  /* Sets the font for the page */
    margin: 0;  /* Removes default margin */
    padding: 0;  /* Removes default padding */
    background-color: #f4f4f4;  /* Sets a light background color */
    text-align: center; /* Centers content */
}



#messages {
    background-color: #fff;  /* Sets the background color of the message */
    padding: 10px;  /* Adds padding inside the message box */
    margin-bottom: 10px;  /* Adds space between messages */
    border-radius: 20px;  /* Rounds the corners of the border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Adds a subtle shadow for depth */
    border-style: solid black;  /* Sets the border style */
    border-width: 5px;
    word-wrap: break-word;  /* Ensures long words or URLs will wrap */
    overflow-wrap: break-word;  /* Ensures long words or URLs will wrap */
}

button {
    margin-right: 5px;  /* Adds space between buttons */

}

.post{
    background-color: #fff;  /* Background color of the post */
    padding: 10px;  /* Space inside the post */
    margin-bottom: 10px;  /* Space between posts */
    border-radius: 5px;  /* Rounds the corners of the border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Adds a subtle shadow for depth */
    border: 2px solid black;  /* Border style and width */
    word-wrap: break-word;  /* Ensures text wraps */
    overflow-wrap: break-word;  /* Ensures text wraps */
    
}